@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: dimgray;
  margin-top: 20px;
}

.numbers {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.operations {
  display: flex;
  flex-direction: column;
}

.keypad {
  display: flex;
}
